.catalogue {  
  &-main {
    border-bottom: 1px solid $grey;
    color: $default-color;
    display: block;
    padding: 1rem;

    &:hover .catalogue-line,
    &:focus .catalogue-line {
      width: 5rem;
    }

    &:last-child {
      border: 0;
    }
  }

  &-time {
    color: $default-tint;
    font-family: $serif-primary;
    font-size: .8rem;
    letter-spacing: .5px;
    margin: 0 1rem 0 0;
  }

  &-title {
    color: $title-color;
    display: block;
    font-family: $serif-primary;
    font-size: 1.5rem;
    font-weight: normal;
    margin: 0;
    line-height: 1.5em;
  }

  &-line {
    @include transition(all .3s ease-out);
    border-top: .2rem solid $default-color;
    display: block;
    width: 2rem;
  }

  a {
    color: $default-color;
  }

  p {
    color: $default-tint;
    margin: 0;
  }
}

.tags {
  @include transition(all .2s ease-out);
  color: $default-tint;
  font-family: $serif-primary;
  font-size: .8rem;
  letter-spacing: .5px;
  margin: 0 .3rem 0 0;

  a {
    color: $default-tint;
  }
  a:hover,
  a:focus {
    color: $body-link-color;
    text-decoration: none;
  }
}
