.container {
  margin: 0 auto;
  max-width: $max-width;
  width: 90%;
  margin-bottom: 2rem;
}

.nav {
  box-shadow: 0 2px 2px -2px $shadow-color;
  overflow: auto;

  &-container {
    display: block;
    margin: 0 auto .5rem;
    position: relative;
    text-align: center;
    max-width: $max-width;
    width: 80%;
  }

  &-title {
    // @include transition(all .2s ease-out);
    color: $default-color;
    display: inline-block;
    margin: 0;
    font-size: 2rem;
    line-height: 2em;

    &:hover,
    &:focus {
      opacity: .8;
    }
  }

  ul {
    list-style-type: none;
    // margin: 0 0 .7rem 0;
    text-align: center;
    padding-right: 1rem;
  }

  li {
    // @include transition(all .2s ease-out);
    color: $default-color;
    display: inline-block;
    opacity: .7;
    padding: 0 2rem 0 0;

    &:last-child {
      padding-right: 0;
    }

    &:hover,
    &:focus {
      opacity: 1;
    }
  }

  a {
    color: $default-color;
    font-size: 1.2rem;
    font-family: $serif-secondary;
  }
}

@media (min-width: 800px) {
  .nav {
    &-container {
      text-align: left;
    }

    ul {
      bottom: 0;
      position: absolute;
      right: 0;
    }
  }
}