.notpost {
  padding: 1.5rem 0 3rem 0;
  word-wrap: break-word;

  // :first-child {
  //   margin-top: 0;
  // }

  &-info {
    color: $default-tint;
    font-family: $serif-primary;
    font-size: .8rem;
    letter-spacing: 0.5px;
    text-align: center;
    margin: 0 1rem 2rem 0;

    &-time {
      margin-right: 1rem;
    }
  }

  &-title {
    color: $default-color;
    font-family: $serif-secondary;
    margin: 0;
    text-align: center;
    font-size: 1.8em;
    font-weight: 700;
  }

  p {
    margin: 0 0 .2rem;
    text-align: justify;
  }

  img {
    margin: 0 auto;
  }

  img + em {
    color: $default-tint;
    display: block;
    font-family: $serif-secondary;
    font-size: 0.9rem;
    font-style: normal;
    text-align: center;
    margin: 0 auto .5rem;
  }

  // CSS for making emoji inline
  img.emoji {
    display: inline-block;
    left: 0;
    transform: none;
    width: 1rem;
    height: 1rem;
    vertical-align: text-top;
    padding: 0;
    margin: 0;
  }

  //////////////////////////////////////////////////////////////
  blockquote {
    padding: 0 1rem;
    margin-left: 0;
    color: $blockquote-text-color;
    border-left: 0.3rem solid $border-color;

    > :first-child {
      margin-top: 0;
    }

    > :last-child {
      margin-bottom: 0;
    }
  }

  table {
    display: block;
    width: 100%;
    overflow: auto;
    word-break: keep-all; // For Firefox to horizontally scroll wider tables.

    th {
      font-weight: bold;
    }

    th,
    td {
      padding: 0.5rem 1rem;
      border: 1px solid $table-border-color;
    }
  }

  dl {
    padding: 0;

    dt {
      padding: 0;
      margin-top: 1rem;
      font-size: 1rem;
      font-weight: bold;
    }

    dd {
      padding: 0;
      margin-bottom: 1rem;
    }
  }

  // markdown list
  ul {
    margin: .5rem 0 .5rem;
  }
  
  li {
    margin: 0.3rem 0;
  }

  hr {
    height: 2px;
    padding: 0;
    margin: 1rem 0;
    background-color: $hr-border-color;
    border: 0;
  }

  // title
  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
    margin: .6em 0 .3em 0;
    border-bottom: 1px solid $grey;
  }

  h3 {
    font-size: 1.25em;
    margin: .6em 0 .3em 0;
  }

  h4 {
    font-size: 1em;
  }

  h5 {
    font-size: 0.875em;
  }

  h6 {
    font-size: 0.85em;
  }
}
