// layout
$max-width: 850px;

// Colors
$default-color: #353535;
$default-tint: #757373;
$title-color: #BA3925;
$grey: #e5e5e5;
$shadow-color: rgba(0, 0, 0, .2);

// Fonts
@font-face {
  font-family: "OPPOSans";
  src: url("/assets/fonts/OPPOSans.subset.ttf");
}

$serif-primary: "OPPOSans", "Microsoft YaHei Ui", Helvetica,sans-serif;
$serif-secondary: "OPPOSans", "Microsoft YaHei", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$code-font: Consolas, "OPPOSans", "Liberation Mono", Menlo, Courier, monospace;

@mixin box-sizing($type: border-box) {
  -webkit-box-sizing: $type;
     -moz-box-sizing: $type;
          box-sizing: $type;
}

// @mixin transition($args...) {
//   -webkit-transition: $args;
//      -moz-transition: $args;
//           transition: $args;
// }

/////////////////////////////////////////////////////////// from cayman theme ///////////////////////////////
// Headers
$header-heading-color: #fff !default;
$header-bg-color: #159957 !default;
$header-bg-color-secondary: #155799 !default;

// Text
$section-headings-color: #159957 !default;
$body-text-color: #3A4145 !default;
$body-link-color: #1e6bb8 !default;
// $body-background-color: #f0f0f0 !default;
$body-background-color: rgba(0, 0, 0, 0.02) !default;
$blockquote-text-color: #819198 !default;

// Code
$inline-code-bg-color: #f7f7f5 !default;
$block-code-bg-color: #05313b !default;
$inline-code-text-color: #f06 !default;
$block-code-text-color: #bebcbc;

// Borders
$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;
