---
layout: default
title: Blog
---

<div class="catalogue">
    {% for post in paginator.posts %}
    <div class="catalogue-main">
        <a href="{{ post.url | prepend: site.baseurl }}">
            <h1 class="catalogue-title">{{ post.title }}</h1>
            <p>
                {{post.excerpt | strip_html}}
            </p>
        </a>
        <time datetime="{{ post.date }}" class="catalogue-time">{{ post.date | date: "%Y/%m/%d" }}</time>
        {% for cat in post.tags %}
        <span class="tags">
            <a href="{{ site.baseurl }}/tags#{{ cat }}">#{{ cat }}</a>
        </span>
        {% endfor %}
    </div>
    {% endfor %}
</div>

<!-- setting pagination -->
{% if paginator.total_pages > 1 %}
    <div class="pagination">
        <!-- previous page -->
        {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="left arrow">&laquo; Prev</a>
        {% endif %}

        <!-- current_page / total_pages -->
        <span>{{ paginator.page }} / {{ paginator.total_pages }}</span>

        <!-- next page -->
        {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="right arrow">Next &raquo;</a>
        {% endif %}
    </div>
{% endif %}