<!-- valine comment -->
<script src="//unpkg.com/valine/dist/Valine.min.js"></script>
<script>
    new Valine({
        el: "#vcomment",
        lang: "en",
        app_id: "{{ site.valine.appid }}",
        app_key: "{{ site.valine.appkey }}",
        placeholder: "{{ site.valine.placeholder }}",
        avatar: "{{ site.valine.avatar }}",
        meta: ["nick", "mail"],
        serverURLs: "{{ site.valine.serverURLs }}"
        // meta: "{{ site.valine.meta }}",
        // pageSize: "{{ site.valine.pageSize }}"
    });
</script>