<nav class="nav">
  <div class="nav-container">
    <a href="{{ site.baseurl }}/">
      <div class="nav-title">{{ site.title }}</div>
    </a>
    <ul>
      {% for menu in site.menu %}
      {% if menu.title == "About" or menu.title == "RSS" %}
      <li><a href="{{ site.baseurl }}{{ menu.url }}" target="_blank">{{ menu.title }}</a></li>
      {% else %}
      <li><a href="{{ site.baseurl }}{{ menu.url }}">{{ menu.title }}</a></li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>
</nav>