---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <div class="post-info">
    <time datetime="{{ page.date }}" class="post-info-time">{{ page.date | date: "%Y/%m/%d" }}</time>
    {% for cat in page.tags %}
    <span class="tags">
      <a href="{{ site.baseurl }}/tags#{{ cat }}" title="{{ cat }}">#{{ cat }}</a>
    </span>
    {% endfor %}
  </div>

  {{ content }}

</div>

<!-- valine comment -->
{% if page.comment==true %}
<div id="vcomment"></div>
{% endif %}